# PostgreSQL
POSTGRES_DB=image_processing
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
DATABASE_URL=postgresql://postgres:your_postgres_password@postgres:5432/image_processing

# AWS
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=ap-south-1

# Application
S3_BUCKET_NAME=your-s3-bucket-name
SQS_QUEUE_NAME=your-sqs-queue-name